<div class="modal-header">
    <h3 class="mb-0">Akun</h3>
</div>
<div class="modal-body">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" placeholder="" autocomplete="false">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-mode-2">Login</button>
</div>