<ng-template #modalKebijakan let-modal>
    <div class="modal-header">
        <h3 class="m-0">Kebijakan Privasi Toko-Q</h3>
    </div>
    <div class="modal-body p-0">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Info Aplikasi
                <p>
                    Aplikasi Toko-Q adalah aplikasi yang di rancang untuk mencatat transaksi penjualan bagi toko atau usaha yang ingin menggunakan aplikasi gratis.
                </p>
            </li>
            <li class="list-group-item">
                Pengguna Aplikasi
                <p>
                    Target pengguna aplikasi Toko-Q adalah para pemilik toko sekala kecil yang membutuhkan aplikasi untuk mencatat penjualan seerta arus kas yang mudah digunakan dan tidak tergantung dengan internet.
                </p>
            </li>
            <li class="list-group-item">
                Pertukaran Data
                <p>
                    Aplikasi Toko-Q tidak mengambil data apapun dari pengguna. semua data yang di input kedalam aplikasi hanya tersimpan di handpone masing-masing user tanpa ada syncronisasi dengan pihak manapun.
                </p>
            </li>
          </ul>
    </div>
    <div class="modal-footer align-center">
        <button type="button" class="btn btn-outline-info btn-mode-2" (click)="modal.close()">Close</button>
    </div>
</ng-template>