
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-4 offset-md-4 d-flex align-items-center">
      <div class="card shadow w-100 profile rounded-pill rounded-end">
        <div class="row h-100 g-0">
          <div class="col-4 d-flex align-items-center">
            <img src="../assets/profile.jpeg" class="img-fluid rounded-circle foto shadow-lg border border-info m-2" alt="...">
          </div>
          <div class="col-8 d-flex align-items-center">
            <div class="card-body text-md-start p-1">
              <h5 class="card-title nama mb-1">Sucipto</h5>
              <p class="card-text mb-0 deskripsi">Cuma tukang ketik</p>
              <button class="btn btn-outline-info btn-sm btn-mode-2 float-right" (click)="openModalProfile()">My Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>