.btn-mode-3{
    text-shadow: 0px 0px 10px #18b1d7;
    color: #fff;
    border: 25px solid #6dd3ec;
    width: 100px;
    height: 100px;
    margin: 2px 2px 29px 0px;
    padding: 0px;
    background:none;
    clip-path: polygon(
        50% 0,
        100% 25%,
        100% 75%,
        50% 100%,
        0 75%,
        0 25%,
        50% 0,

        50% 8px,
        8px calc(25% + 4px),
        8px calc(25% + 10px),
        1px calc(25% + 15px),
        1px calc(75% - 15px),
        8px calc(75% - 10px),
        8px calc(75% - 4px),
        50px calc(100% - 8px),
        calc(100% - 8px) calc(75% - 4px),
        calc(100% - 8px) calc(75% - 10px),
        calc(100% - 1px) calc(75% - 15px),
        calc(100% - 1px) calc(25% + 15px),
        calc(100% - 8px) calc(25% + 10px),
        calc(100% - 8px) calc(25% + 4px),
        50% 8px,

        50% 25%,
        75% 25%,
        75% calc(75% - 1px),
        calc(25% + 1px) calc(75% - 1px),
        calc(25% + 1px) 25%,
        50% 25%,

        50% 100%,
        100% 100%,
        100% calc(100% + 25px),
        0 calc(100% + 25px),
        0 100%,
        50% 100%,

        50% 8px,
    );
    i{
        font-size: 40px;
    }
    p{
        position: relative;
        width: 100px;
        margin: 15px 0px 0px -25px;
    }
}
.btn-mode-3:hover{
    background: none;
}
.btn-mode-3:active{
    background: none;
}
.btn-mode-3::before1{
    content: " ";
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #6dd3ec;
    clip-path: polygon(
        calc(100% / 3) 0,
        calc(100% - calc(100% / 3)) 0,
        100% calc(100% / 3),
        100% calc(100% - calc(100% / 3)),
        calc(100% - calc(100% / 3)) 100%,
        calc(100% / 3) 100%,
        0 calc(100% - calc(100% / 3)),
        0 calc(100% / 3),
    );
}