<div class="card card-mode-2 mb-2" *ngFor="let pr of project">
    <div class="row g-1">
        <div class="col-md-4 offset-md-0 col-4 offset-4">
          <img [src]="pr.icon" class="img-fluid" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body p-1">
            <h5 class="card-title mb-0">{{ pr.nama }}</h5>
            <p class="card-text mb-0">{{ pr.ket }}</p>
            <p class="card-text mb-0">{{ pr.start }}</p>
            <button class="btn btn-outline-info btn-sm btn-mode-2" (click)="detailProject(pr)">Detail Project</button>
          </div>
        </div>
    </div>
</div>