/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Nunito:wght@200&family=Rowdies:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body{
    height: 100vh;
    background: #dddcdc;
}
.profile{
    // height: 142px;
    // border-bottom-left-radius: 70px;
    // border-top-left-radius: 70px;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    .foto{
        margin-left: 7px;
    }
    .nama{
        font-family: 'Rowdies', cursive;
    }
    .deskripsi{
        font-family: 'Festive', cursive;
    }
}
.sc-home{
    z-index: 1060;
    position: fixed;
}
.sc-home::before{
    content: " ";
    z-index: 1070;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    position :fixed;
    height: 100vh;
    width: 100vw;
    background: #18b1d7;
    clip-path: polygon(
        75px 10px,
        calc(100% - 75px) 10px,
        calc(100% - 10px) 75px,
        calc(100% - 10px) calc(100% - 10px),
        10px calc(100% - 10px),
        10px calc(100% - 120px),
        18px calc(100% - 127px),
        18px 155px,
        50px 110px,
        50px 30px,

        70px 40px,
        70px 120px,
        40px 160px,
        40px 200px,
        20px 220px,
        20px calc(100% - 20px),
        calc(50% - 150px) calc(100% - 20px),
        calc(50% - 145px) calc(100% - 30px),
        calc(50% + 145px) calc(100% - 30px),
        calc(50% + 150px) calc(100% - 20px),
        calc(100% - 20px) calc(100% - 20px),
        calc(100% - 20px) calc(100% - 43px),
        calc(100% - 12px) calc(100% - 50px),
        calc(100% - 12px) 128px,
        calc(100% - 20px) 120px,
        calc(100% - 20px) 80px,
        calc(100% - 80px) 20px,
        calc(100% - 120px) 20px,
        calc(100% - 128px) 12px,
        100px 12px,
        70px 40px,
        50px 30px,
    );
}
.modal-mode-1{
    .modal-header{
        border-bottom: 1px solid #6dd3ec;
    }
    .modal-content{
        border-radius: 25px;
        font-family: 'Nunito', sans-serif;
        background: #374564c4;
        color: #fff;
        text-shadow: 0px 0px 10px #18b1d7;
        border: 1px solid #6dd3ec;
    }
    .modal-footer{
        border-top: 1px solid #6dd3ec;
    }
    .modal-backdrop.show {
        opacity: 0.7;
    }

    

    
}
.accordion{
    .card{
        background: transparent;
        border: 1px 0px solid #6dd3ec;
    }
    .card-header{
        background: transparent;
        height: 0px;
        display: none;
    }   
}
.btn-menu{
    width: 70px;
    height: 70px;
    i {
        font-size: 20px;
        font-weight: bold;
    }
}
.list-group-item{
    background: transparent;
    border: 1px solid #6dd3ec;
    border-width: 0 0 2px;
    .judul{
        font-size: 10px;
    }
    .ket{
        font-size: 1rem;
    }
    .icon{
        font-size: 30px;
        margin-right: 10px;
    }
}

.card-mode-1{
    padding: 40px;
    // background: #374564c4;
    background: none;
    border: 0px;

    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-shadow: 0px 0px 10px #18b1d7;  
    .card{
        background: transparent;
    }
    .card-header{
        // background: #374564c4;
        background: none;
        border: none;
    }
    .card-body{
        // font-family: 'Nunito', sans-serif;
        // background: #374564c4;
        // color: #fff;
        // text-shadow: 0px 0px 10px #18b1d7;  
        border: none;
    }
    .card-footer{
        // background: #374564c4;
        background: none;
        border: none;
    }
}

.card-mode-1::before{
    content: " ";
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    margin: -40px;

    border-width : 40px;
    border-style : solid;
    border-color : #6dd3ec;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    
    clip-path: polygon(
        20px 10px,
        calc(100% - 100px) 10px,
        calc(100% - 90px) 0,
        calc(100% - 10px) 0,
        100% 10px,
        100% 100px,
        calc(100% - 39px) 130px,

        calc(100% - 39px) 135px,
        calc(100% - 10px) 113px,
        calc(100% - 10px) 130px,
        calc(100% - 39px) 153px,

        calc(100% - 39px) 158px,
        calc(100% - 10px) 136px,
        calc(100% - 10px) 153px,
        calc(100% - 39px) 176px,

        calc(100% - 39px) 181px,
        calc(100% - 10px) 159px,
        calc(100% - 10px) 177px,
        calc(100% - 39px) 200px,

        calc(100% - 39px) 207px,
        calc(100% - 34px) 207px,
        calc(100% - 2px) 182px,
        calc(100% - 2px) 107px,
        100% 107px,
        100% 183px,
        calc(100% - 25px) 203px,
        calc(100% - 25px) calc(100% - 170px),
        calc(100% - 34px) calc(100% - 178px),
        calc(100% - 34px) 207px,
        calc(100% - 39px) 207px,

        calc(100% - 39px) calc(100% - 173px),
        calc(100% - 25px) calc(100% - 160px),
        calc(100% - 25px) calc(100% - 100px),
        calc(100% - 10px) calc(100% - 90px),
        calc(100% - 10px) calc(100% - 10px),
        calc(100% - 20px) 100%,
        calc(100% - 150px) 100%,
        calc(100% - 160px) calc(100% - 10px),
        57px calc(100% - 10px),
        10px calc(100% - 57px),
        10px 20px,

        15px 20px, /* Start Inline */
        15px calc(100% - 105px),
        20px calc(100% - 100px),
        20px calc(100% - 60px),
        60px calc(100% - 20px),
        100px calc(100% - 20px),
        105px calc(100% - 15px),
        calc(100% - 30px) calc(100% - 15px),
        calc(100% - 25px) calc(100% - 20px),
        calc(100% - 25px) calc(100% - 80px),
        calc(100% - 40px) calc(100% - 90px),
        calc(100% - 40px) 20px,
        calc(100% - 45px) 15px,
        22px 15px,
        15px 22px,
        10px 20px,
    );
}

.card-mode-1::after{
    content: " ";
    z-index: -1;
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    background: #374564c4;
    margin: -40px;

    border-width : 40px;
    border-style : solid;
    border-color : transparent;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    
    clip-path: polygon(
        15px 20px,
        15px calc(100% - 105px),
        20px calc(100% - 100px),
        20px calc(100% - 60px),
        60px calc(100% - 20px),
        100px calc(100% - 20px),
        105px calc(100% - 15px),
        calc(100% - 30px) calc(100% - 15px),
        calc(100% - 25px) calc(100% - 20px),
        calc(100% - 25px) calc(100% - 80px),
        calc(100% - 40px) calc(100% - 90px),
        calc(100% - 40px) 20px,
        calc(100% - 45px) 15px,
        22px 15px,
        15px 22px,
    );
}

.card-mode-1-header{
    padding: 0;
    border-bottom: 20px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-style: solid;
    border-color: #6dd3ec;
    clip-path: polygon(
        0 calc(100% - 21px),
        0 0,
        100% 0,
        100% calc(100% - 21px),
        0 calc(100% - 21px),

        20px 100%,
        40px 100%,
        20px calc(100% - 21px),

        30px calc(100% - 21px),
        50px 100%,
        70px 100%,
        50px calc(100% - 21px),

        60px calc(100% - 21px),
        80px 100%,
        100px 100%,
        80px calc(100% - 21px),

        90px calc(100% - 21px),
        110px 100%,
        100% 100%,
        100% calc(100% - 2px),
        108.1px calc(100% - 2px),
        90px calc(100% - 21px),
    );
}
// .card-mode-1-header::after{
//     content: " ";
//     background: #6dd3ec;
//     position: absolute;
//     width: calc(100% - 100px);
//     height: 20px;
//     // border: 10px solid #6dd3ec;
//     overflow: hidden;
//     // bottom: 0;
//     // clip-path: polygon(

//     // );
// }
.modal-content{
    @extend .card-mode-1
}
.modal-header{
    @extend .card-mode-1-header
}